.modelThread {
    max-width: max-content;
    background: #945fbf;
    color: white;
}

.modelThread h1 {
    margin: 0;
    font-size: 1.2rem;
    color: white;
}

.modelThread h2 {
    margin-left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
}

.modelMenu {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.headerBar {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.spacer {
    width: 1rem;
}

@media (max-width: 600px) {
    .modelMenu {
        flex-wrap: wrap;
        padding: 1rem 0;
    }
    .spacer {
        display: none;
    }
}
