.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modelMenu {
    background-color: white;
    display: flex;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.spacer {
    width: 1rem;
}

.parameters {
    text-align: right;
    font-size: 1rem;
    padding: 0 2rem;
    margin-left: auto;
}

.number {
    font-size: 1.1rem;
    font-weight: bold;
}

@media (max-width: 600px) {
    .spacer {
        display: none;
    }
}
