.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.05);
    border-left: 2px solid rgba(0, 0, 0, 0.06);
}
