.status {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3.5rem;
    width: 3.5rem;
    margin-left: 1rem;
    background: rgba(0, 0, 0, 0.05);
    border-left: 2px solid rgba(0, 0, 0, 0.06);
    height: 100%;
}
