@value primary from "@genai-fi/base/css/colours.module.css";

.title {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    gap: 1rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    justify-content: space-between;
}

.infoTitle {
    composes: title;
    background-color: #0e62cf;
    color: white;
}

.title h2 {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
    display: flex;
}

.title input {
    padding: 0.4rem 1rem;
    height: initial;
    box-sizing: border-box;
    border: 2px solid transparent;
    cursor: pointer;
    font-size: 1rem;
}

.title input:focus {
    border: 2px solid primary;
    border-radius: 5px;
    cursor: initial;
}

.title fieldset {
    border: none;
}

.title button {
    margin-left: 0.5rem;
}

.menu {
    display: flex;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.box {
    border-radius: 6px;
    background: white;
    box-shadow: 2px 2px 4px #a4acbb;
    overflow: hidden;
    animation: fadein 0.5s 1;
    width: 100%;
    position: relative;
}

.disabled {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10;
}

.boxNotice {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    font-size: 1.1rem;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    text-align: center;
}

.boxNotice .closeButton {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
