.title {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    gap: 1rem;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.infoTitle {
    composes: title;
    background-color: #0e62cf;
    color: white;
}

.title h2 {
    margin: 0;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.menu {
    display: flex;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.box {
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 4px #bbb;
    overflow: hidden;
    animation: fadein 0.5s 1;
    width: 100%;
}
