.container {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sample {
    /* padding: 0.5rem; */
    border-radius: 8px;
    margin: 1rem;
}

.prefix {
    opacity: 0.6;
}

.text {
    background: #e8f0fe;
}

.suffix {
    opacity: 0.6;
}

.token {
    font-weight: bold;
    background-color: #444;
    color: white;
}

.menu {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.bold {
    font-weight: bold;
}
