.section {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.linesSVG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.predictionsList {
    padding: 0;
    border-spacing: 0;
}

.probability {
    width: 40px;
    padding: 0;
    padding-left: 1rem;
}

.token {
    font-size: 0.8rem;
    min-width: 3rem;
    text-align: right;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.token span {
    background: rgba(0, 130, 151, 0.2);
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0rem 0.6rem;
    border-bottom: 2px solid rgba(0, 130, 151, 0.4);
    box-sizing: border-box;
}

.noToken {
    font-size: 0.8rem;
    min-width: 3rem;
    padding-left: 0.5rem;
    text-align: right;
    padding-bottom: 0.3rem;
}

.noToken span {
    background: rgba(0, 0, 0, 0.2);
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0rem 0.6rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}

.icon svg {
    display: block;
    margin-left: 0.5rem;
}

.percentage {
    font-size: 0.8rem;
    color: #666;
    padding-left: 0.5rem;
}
