.sampleBox {
    white-space: nowrap;
    overflow-x: scroll;
    padding: 1rem 0;
    scrollbar-width: thin;
    background-color: #e8f0fe;
}

.selected {
    background: rgba(0, 130, 151, 0.2);
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 0rem 0.2rem;
    border-bottom: 2px solid rgba(0, 130, 151, 0.6);
    box-sizing: border-box;
}

.postText {
    opacity: 0.2;
}

.token {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.4rem;
    margin: 0 0.1rem;
    border-radius: 4px;
    box-sizing: border-box;
    /*transition: opacity 0.1s;*/
}

.token span {
    white-space: pre;
}

.tokenNumber {
    font-size: 0.8rem;
}
