.container {
    display: flex;
    position: relative;
    justify-content: stretch;
    width: calc(100% - 40px);
    margin: 1rem 20px 1.5rem 20px;
    box-sizing: border-box;
}

.segment {
    height: 6px;
    flex-grow: 1;
    margin: 0 2px;
}

.bad {
    background: rgb(185, 42, 6);
}

.good {
    background: rgb(21, 136, 46);
}

.blob {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 4px solid var(--primary);
    box-sizing: border-box;
    position: absolute;
    top: -8px;
    transition: left 0.2s ease;
    color: white;
}

.target {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /*border: 2px solid #444;*/
    background: white;
    color: var(--primary);
    position: absolute;
    top: -8px;
    padding: 2px;
}

.targetLabel {
    position: absolute;
    font-size: 0.8rem;
    top: 10px;
    font-weight: bold;
    transform: translateX(calc(-50% + 10px));
}
