.handle {
    cursor: ew-resize;
    touch-action: none;
    fill: white;
    stroke: #75a4e288;
    stroke-width: 4px;
}

.handleBg {
    fill: transparent;
    stroke: none;
}

.handleBar {
    cursor: ew-resize;
    touch-action: none;
    fill: #75a4e288;
}

.handleGroup:hover .handle {
    fill: #75a4e2;
    stroke: #75a4e2;
}

.handleGroup:hover .handleBar {
    fill: #75a4e2;
}

.svg {
    touch-action: none;
    user-select: none;
}

.addButtonContainer {
    display: none;
}

.transformerBox:hover .addButtonContainer {
    display: initial;
}

.addButtonContainer button {
    transform: scale(2) translate(25%, 25%);
}

.box {
    cursor: pointer;
}

.transformerBox:hover .box {
    fill: #00a0b8;
}

.transformerBox text {
    cursor: pointer;
}

.tableButton {
    cursor: pointer;
    touch-action: none;
}

.tableButton circle {
    fill: transparent;
}

.tableButton:hover circle {
    fill: #75a4e24b;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    color: #444;
}

.container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: white;
}

.layerInfo {
    display: flex;
    flex-direction: column;
}

.layerInfo h2 {
    margin: 0;
    font-size: 1.2rem;
}

.layerInfo p {
    margin: 0;
    font-size: 0.9rem;
}

.infoClose {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.vocabLabel {
    font-size: 1.4rem;
    font-weight: bold;
    fill: #666;
}
