.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
}

.size {
    font-weight: bold;
    font-size: 0.9rem;
}

.label {
    font-size: 0.8rem;
}
