.dataCardRow ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    overflow: hidden;
    padding-left: 4rem;
    padding-right: 4rem;
    box-sizing: border-box;
}

.container {
    position: relative;
    display: flex;
}

.dataCardRow h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    margin-left: 4rem;
    overflow: hidden;
}

.dataCardRow {
    padding: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 2rem;
    width: 4rem;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease, font-size 0.3s ease;
}

.dataCardRow:hover .arrow {
    opacity: 1;
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2.5rem;
}

.arrow.left {
    left: 0;
    text-align: left;
}

.arrow.right {
    right: 0;
    text-align: right;
}
