.container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    color: #333;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    justify-content: space-between;
}

.progress {
    margin: 1rem;
}
