.container {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    color: #333;
    flex-direction: column;
}

.buttonBox {
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
    align-items: center;
}

.modelList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
}

.modelItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
    flex-direction: row;
    cursor: pointer;
}

.modelItem:hover {
    background-color: #e8f0fe;
}

.modelItem a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
}

.modelItem p {
    margin: 0;
    font-style: italic;
    color: #666;
}

.modelInfo {
    display: flex;
    align-items: center;
    gap: 1rem;
}
