.column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex-grow: 1;
    padding: 1rem;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.label {
    margin-top: 1rem;
}

.spacer {
    width: 100%;
    min-height: 1rem;
}

.fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.fieldset legend {
    padding: 0.5rem 1rem;
    font-weight: bold;
}
