.column {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    flex-grow: 1;
    padding: 1rem;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.label {
    margin-top: 1rem;
}

.spacer {
    width: 100%;
    min-height: 1rem;
}
