@value secondary from "@genai-fi/base/css/colours.module.css";

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    gap: 1rem;
    max-width: 80%;
}

.mainContainer {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspaceContainer {
    overflow-x: scroll;
    overflow-y: auto;
    flex-shrink: 1;
    width: 100%;
}

.workspaceContainer > div {
    overflow: initial;
}

.verticalBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.box {
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 4px #bbb;
    overflow: hidden;
    animation: fadein 0.5s 1;
    width: 100%;
}

.boxPrimary {
    composes: box;
    background: secondary;
    color: white;
}

.toolbar {
    color: white;
    display: flex;
    margin-bottom: 1rem;
}

@keyframes fadein {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.modelRow {
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #d7dce0;
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
}

.modelRow h1 {
    margin: 0;
    color: #444;
    font-size: 1.4rem;
}

.trainingGroup {
    display: flex;
    flex-direction: column;
    background-color: #d7dce0;
    border-radius: 6px;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.trainingGroup h1 {
    margin: 0;
    color: #444;
    font-size: 1.4rem;
}

.widgetRow {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 600px) {
    .widgetRow {
        flex-wrap: wrap;
    }
}
