@value secondary from "@genai-fi/base/css/colours.module.css";

.container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    flex-direction: row;
    gap: 1rem;
    max-width: 80%;
}

.mainContainer {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspaceContainer {
    overflow-x: auto;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    background: #dee4e8;
    transition: background 0.3s ease;
}

.workspaceContainer.homeWorkspace {
    background: white;
}

.workspaceContainer > div {
    overflow: initial;
}

.workspaceContainer > div > div {
    padding: 0;
    height: 100%;
    background: none;
}

.verticalBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

.box {
    border-radius: 15px;
    background: white;
    box-shadow: 2px 2px 4px #bbb;
    overflow: hidden;
    animation: fadein 0.5s 1;
    width: 100%;
}

.boxPrimary {
    composes: box;
    background: secondary;
    color: white;
}

.toolbar {
    color: white;
    display: flex;
    margin-bottom: 1rem;
}

@keyframes fadein {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

.modelRow {
    grid-row: 1;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #d7dce0;
    border-radius: 6px;
    padding: 1rem;
    gap: 1rem;
    margin: auto;
}

.modelRow h1 {
    margin: 0;
    color: #444;
    font-size: 1.4rem;
}

.chatGroup {
    background: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*gap: 2rem;*/
    align-self: stretch;
    min-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    /*position: relative;*/
    width: 40rem;
    height: 100%;
    justify-content: flex-end;
    margin-right: 2rem;
}

.inputGroup {
    composes: chatGroup;
    margin-right: 0;
    margin-left: 2rem;
}

.processGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    justify-content: center;
    height: 100%;
    margin: 0 2rem;
    max-height: 1000px;
    align-self: flex-start;
}

.processGroup.homeProcess {
    margin: 0;
    max-width: 100vw;
    padding: 2rem;
    box-sizing: border-box;
}

.subgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.promptGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*gap: 2rem;*/
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 1) 30px);
    width: 100%;
}

.chatOutputContainer {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
}

.inputContainer {
    flex-grow: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.trainingGroup {
    display: flex;
    flex-direction: column;
    background-color: #d7dce0;
    border-radius: 6px;
    padding: 1rem;
    align-items: flex-start;
    gap: 1rem;
}

.trainingGroup h1 {
    margin: 0;
    color: #444;
    font-size: 1.4rem;
}

.widgetRow {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

@media (max-width: 600px) {
    .widgetRow {
        flex-wrap: wrap;
    }
}

@media (max-height: 1000px) {
    .processGroup {
        gap: 2rem;
    }
}

.loadingContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
