@value secondary, secondaryLight, backgroundDark2 from "@genai-fi/base/css/colours.module.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    color: #333;
    flex-direction: column;
    width: 600px;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8f0fe;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background: #fafafa;
    border-left: 2px solid #eee;
}

.buttonBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
}

.xaiRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.xaiContainer {
    width: 150px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    background: backgroundDark2;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    position: absolute;
    left: 100%;
}

.xaiContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.probBar {
    background: secondaryLight;
    height: 4px;
    border-radius: 2px;
}

.probDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
