.container {
    width: calc(100% - 4rem);
    background: #f7f9fc;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #a4acbb;
    margin: 2rem;
    position: relative;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;
    /*margin-top: 1rem;*/
    position: relative;
    overflow: hidden;
    width: 100%;
}

.iconButtons {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    color: #444;
}
