.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    border-radius: 8px;
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    max-width: calc(100% - 2rem);
    padding: 0;
}

.item:hover {
    background-color: #e8f0fe;
}

.size {
    font-weight: bold;
}

.label {
    font-size: 0.8rem;
}

.avatar {
    text-align: center;
    background: #444;
    color: white;
    border-radius: 8px;
    padding: 0.5rem;
    margin-right: 1rem;
}
