.alert {
    max-width: 250px;
}

.innerContainer {
    background: rgba(0, 130, 151, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 0.9rem;
    border: 2px dashed rgba(0, 130, 151, 0.2);
    color: #444;
    text-align: center;
}
