.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0;
}

.centerText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
