.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 1rem;
}

.centerText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.time {
    font-size: 2.4em;
    font-family: Arial, Helvetica, sans-serif;
}

.timeLabel {
    font-size: 0.8em;
    color: #005d6b;
}

.timeRow {
    display: flex;
    line-height: 1;
}

.remainingTime {
    margin-top: 0.8rem;
    margin-bottom: -2rem;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;
    color: #005d6b;
}
