.modelThread {
    background: #945fbf;
    color: white;
    border-radius: 20px;
}

.modelThread :global .MuiOutlinedInput-root {
    background: transparent;
    color: white;
}

.modelThread input {
    font-size: 1.1rem;
    padding: 0.1rem 0.5rem;
}

.modelThread input:focus {
    border: 2px solid white;
}

.modelThread h1 {
    margin: 0;
    font-size: 1.2rem;
}

.modelThread h2 {
    margin-left: 1rem;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.modelMenu {
    background-color: white;
    display: flex;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    /*border-bottom: 1px solid #eee;*/
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
}

.headerBar {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.spacer {
    width: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

@media (max-width: 600px) {
    .modelMenu {
        flex-wrap: wrap;
        padding: 1rem 0;
        margin-left: 0.5rem;
    }
    .spacer {
        display: none;
    }
}
