.icon {
    font-size: 3rem;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.modelThread {
    background: #945fbf;
    color: white;
    border-radius: 20px;
    z-index: 2000;
    max-width: 350px;
}

.modelThread :global .MuiOutlinedInput-root {
    background: transparent;
    color: white;
    padding-right: 0;
}

.modelThread input {
    font-size: 1.1rem;
    padding: 0.1rem 0.5rem;
}

.modelThread input:focus {
    border: 2px solid white;
}

.modelThread button {
    margin-right: 0.5rem;
}

.modelThread h1 {
    margin: 0;
    font-size: 1.2rem;
}

.modelThread h2 {
    margin-left: 0;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    color: white;
}

.modelMenu {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 2rem;
    background-color: white;
    box-shadow: 2px 2px 4px #a4acbb;
    padding: 0.5rem 1rem;
    margin: 10px;
    border-radius: 6px;
}

.headerBar {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    padding: 0 2rem;
}

.spacer {
    width: 1rem;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.popover :global .MuiPaper-root {
    box-shadow: none;
    background: transparent;
}

.nameStatusGroup {
    display: flex;
    flex-direction: column;
}

.modelStage {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 1rem;
}

@media (max-width: 600px) {
    .modelMenu {
        flex-wrap: wrap;
        padding: 1rem 0;
        margin-left: 0.5rem;
    }
    .spacer {
        display: none;
    }
}
