.column {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    flex-grow: 1;
}

.label {
    margin-top: 1rem;
}

.spacer {
    width: 100%;
    min-height: 1rem;
}

.results {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
}

.results li {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.results li h3 {
    margin: 0;
    font-size: 1.1rem;
}

.individualResults {
    margin-left: 1rem;
}
