@value secondary, secondaryLight, backgroundDark2 from "@genai-fi/base/css/colours.module.css";

.container {
    position: relative;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    color: #222;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    background: white;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e8f0fe;
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    background: #fafafa;
    border-left: 2px solid #eee;
}

.buttonBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-grow: 1;
}

.xaiRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    position: relative;
}

.xaiContainer {
    width: 150px;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;
    background: backgroundDark2;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    position: absolute;
    left: 100%;
}

.xaiContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.probBar {
    background: secondaryLight;
    height: 4px;
    border-radius: 2px;
}

.probDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.settings {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 100ms ease-in, visibility 0ms ease-in 250ms;
}

.showSettings {
    composes: settings;
    visibility: visible;
    opacity: 1;
    transition-delay: 0ms;
}

.settingsInner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 300px;
    width: 100%;
}

.settingsInner label {
    font-weight: bold;
}
