@value primary, secondary, backgroundDark from "@genai-fi/base/css/colours.module.css";

.sampleBox {
    background-color: #e996e9;
    position: relative;
    border-radius: 8px;
    height: 150px;
    cursor: pointer;
}

.infoContainer {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.untrained {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #ebdfc7 0%, #e0c9ac 50%, #dad87d 100%);
}

.trained {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #ccceec 0%, #c3baec 50%, #a197dd 100%);
}

/*.disabledBG {
    border: 2px solid secondary;
}*/

.sampleText {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 150px;
    font-size: 1.2rem;
    font-style: italic;
    padding: 1rem;
    box-sizing: border-box;
}

.sampleTextExpanded {
    max-height: 100px;
    overflow: auto;
    font-size: 1.2rem;
    font-style: italic;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}

.expandedSampleBox {
    background-color: #f9f9f9;
    flex-grow: 1;
    cursor: pointer;
    height: 190px;
    position: relative;
}

.buttonRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    box-sizing: border-box;
}

.sizeText {
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #444;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.sizeIcon {
    composes: sizeText;
    background: white;
    box-shadow: 2px 2px 4px #a4acbb;
}
