.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
    width: 100%;
    max-height: 250px;
    box-sizing: border-box;
    align-items: flex-start;
}

.innerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
