.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    /*justify-content: space-between;*/
    color: #333;
    flex-direction: column;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    background: #fafafa;
    border-left: 2px solid #eee;
}

.buttonBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}
