.container {
    display: flex;
    gap: 1rem;
    align-items: center;
    /*justify-content: space-between;*/
    color: #333;
    flex-direction: column;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    margin-left: auto;
    background: #fafafa;
    border-left: 2px solid #eee;
}

.buttonBox {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.stats {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    background-color: rgba(0, 130, 151, 0.06);
    border-top: 2px solid rgba(0, 130, 151, 0.1);
    border-bottom: 2px solid rgba(0, 130, 151, 0.1);
}
