.card {
    box-shadow: 2px 2px 4px #a4acbb;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
    max-width: calc(300px - 16px);
    border-radius: 8px;
    background: white;
    margin: 8px;
    box-sizing: border-box;
}

.toolContent {
    padding: 1rem;
    color: var(--textLight);
    background-color: var(--primary);
    border-radius: 8px;
    gap: 8px;
    /*background: white;*/
    flex-grow: 1;
    display: flex;
}

.toolContent.disabled {
    opacity: 0.5;
    background-color: #444;
}

.card .toolContent {
    flex-direction: column;
}

.toolContentTitle {
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
}

.card .thumbContainer {
    /*box-shadow: 0 0 4px var(--primary);*/
    overflow: hidden;
    /*padding: 1.5rem;
  max-width: 250px; 
  background: var(--purpleBorder);*/
}

.thumbContainer img {
    border-radius: 6px;
    overflow: hidden;
}

.thumbContainer2 {
    overflow: hidden;
    /* max-width: 250px; */
}

.buttonContainer {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
}

.card .buttonContainer {
    flex-direction: column;
}

.textBox {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.card .textBox {
    padding: 0 0.5rem;
}

.aloneHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 2rem;
}
