.mainContainer {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.workspaceContainer {
    overflow-x: scroll;
    overflow-y: auto;
    flex-shrink: 1;
    width: 100%;
}

.content {
    max-width: 1000px;
    width: 100%;
    padding: 3.5rem 2rem 2rem 2rem;
    box-sizing: border-box;
    margin: auto;
}

.contentSubTitle {
    margin-top: 3rem;
    color: #444;
}

.cardList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
