.MuiOutlinedInput-root {
    background: white;
    border-radius: 10px;
}

.sidePanel {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    flex-grow: 1;
}

.MuiTooltip-tooltip {
    font-size: 1rem;
    padding: 0.3em 0.8rem;
    background: #0a4bd6 !important;
    border-radius: 6px;
}

.MuiTooltip-arrow {
    color: #0a4bd6 !important;
}
