#root {
    font-family: Andika, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #dee4e8;
}

body {
    margin: 0;
}
