@value primary, secondary, backgroundDark from "@genai-fi/base/css/colours.module.css";

.sampleBox {
    padding: 2rem;
    background-color: #f9f9f9;
    position: relative;
    border-radius: 8px;
}

.simple {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #c7ebc7 0%, #ace0c2 50%, #7ddac5 100%);
}

.normal {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.08) 0px,
            rgba(255, 255, 255, 0.08) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #cce3ff 0%, #c7d9e9 50%, #b1bce5 100%);
}

.complex {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.08) 0px,
            rgba(255, 255, 255, 0.08) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #ddd4ff 0%, #d7c2ff 50%, #d6a1fa 100%);
}

.sampleText {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    font-size: 1.2rem;
    font-style: italic;
}

.sampleTextExpanded {
    max-height: 190px;
    overflow: auto;
    font-size: 1.2rem;
    font-style: italic;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
}

.expandedSampleBox {
    background-color: #f9f9f9;
    flex-grow: 1;
    cursor: pointer;
    height: 190px;
}

.buttonRow {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    align-items: center;
}

.sizeText {
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #444;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}
