@value primary, secondary, backgroundDark from "@genai-fi/base/css/colours.module.css";

.dataCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow: hidden;
    background: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
    user-select: none;
}

.dataCard.disabled {
    cursor: initial;
    opacity: 0.6;
    pointer-events: none;
}

.expandedCard {
    composes: dataCard;
    position: absolute;
    z-index: 2000;
    box-shadow: 0 0 4px #888;
    border-radius: 8px;
    animation: scaleIn 0.2s ease-in-out;
    cursor: initial;
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scaleOut {
    animation: scaleOut 0.2s ease-in-out;
    transform: scale(0.9);
    opacity: 0;
}

@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.sampleBox {
    padding: 2rem;
    background-color: #f9f9f9;
    position: relative;
    border-radius: 8px;
}

.simple {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.1) 0px,
            rgba(255, 255, 255, 0.1) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #c7ebc7 0%, #ace0c2 50%, #7ddac5 100%);
}

.normal {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.08) 0px,
            rgba(255, 255, 255, 0.08) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #a5e1f8 0%, #baddfa 50%, #a89fff 100%);
}

.complex {
    background: repeating-linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.08) 0px,
            rgba(255, 255, 255, 0.08) 2px,
            transparent 2px,
            transparent 8px
        ),
        linear-gradient(135deg, #ddd4ff 0%, #d7c2ff 50%, #ffaad5 100%);
}

.sampleText {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
    font-size: 1.2rem;
    font-style: italic;
}

.sampleTextExpanded {
    height: 140px;
    overflow: auto;
    font-size: 1.2rem;
    font-style: italic;
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
}

.expandedSampleBox {
    background-color: #f9f9f9;
    flex-grow: 1;
    cursor: pointer;
}

.buttonRow {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 2rem;
    align-items: center;
}

.sizeText {
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: #444;
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
}

.dataCard h2 {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0;
    margin-top: 0.5rem;
}
