@value primary from "@genai-fi/base/css/colours.module.css";

.tokens {
    box-sizing: border-box;
    outline: none;
    padding: 2rem;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 1.4rem;
    line-height: 1.5;
    white-space: pre-wrap;
    color: #333;
}

.outerContainer {
    overflow: auto;
    background: white;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.cursor {
    background: primary;
    color: primary;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0.6;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}
