@value secondary from "@genai-fi/base/css/colours.module.css";

.tokens {
    box-sizing: border-box;
    outline: none;
    padding: 2rem;
    min-height: 100%;
}

.tokens span {
    transition: background-color 0.2s;
    cursor: pointer;
    border-radius: 5px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 1.4rem;
    white-space: pre-wrap;
    min-height: 100%;
    word-break: break-word;
}

.outerContainer {
    overflow: auto;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.cursor {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 0.8rem;
    background-color: #444;
    border-radius: 50%;
    vertical-align: middle;
    opacity: 0.8;
    /*animation: pulse 1.5s infinite;*/
}

.cursor.active {
    background-color: secondary;
    animation: unset;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        opacity: 0.8;
    }
}

.selected {
    text-shadow: 0 0 8px secondary;
}

.editable {
    outline: none;
    border: none;
    min-height: 100%;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    padding: 0;
    resize: none;
    overflow: hidden;
}
